.header {
  width: 100%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px 10px 20px;
}

.header img {
  width: 150px;
}

.leftHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header > div > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}

.header > div > ul > li {
  cursor: pointer;
}

.header > div > ul > li:hover {
  color: #ffcf40;
}

.logoText {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
